/out
/.idea
/target
/*.iml
*-rtl.css
*-rtl.css.map
*-rtl.min.*

/**/selenium*
grails-app/conf/SeleniumConfig.groovy
.sonar
cobertura.ser
sonar-project.properties
/**/*.lis
/ddl/login.sql
*.DS_Store
