<%JavaScript
print( "Compiling xeDropdown ${name}");
var pc = Java.type('net.hedtech.banner.sspb.PageComponent');
var parentHasDS = pc.isDataSetEditControl(thiz.parent);
print("Parent has dataset? "+parentHasDS);

var ngModel;
if (parentHasDS && model) {
  ngModel =  "${thiz.GRID_ITEM}.${model}"
} else {
  ngModel=model?model:name+'_XeModel';
}

var ngInit="";
var xeLabel="";
if (placeholder) {
  ngInit="${name}_placeholder='${placeholder}';";
  xeLabel="xe-label=\"${name}_placeholder\"";
}
if (value) {
  ngInit+="${ngModel}=${name}DS.currentRecord;";
}

//missing  onUpdate; could add watch instead
//Not really tested as table or grid child yet
//Angular expression allows to add scope variables as shown below.
//The empty string makes sure nothing is displayed.
%>

{{ ${name}=${name}_XeModel.${valueKey}; "" }}

<input type="hidden" ng-model="${name}_placeholder" ng-init="${ngInit}" />
<label class="pb-${thiz.parent.type} pb-${thiz.type} pb-item pb-label" for="pb-id-${name}" > ${label} </label>
<xe-dropdown xe-id="pb-id-${name}" ${xeLabel} xe-options="${name}DS.data"  ng-model="${ngModel}" >
</xe-dropdown>


