/*******************************************************************************
 Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************/

body {
    font: 14px "Open Sans", sans-serif;
    line-height: 1.428571429;
    color: #151618;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

#content{
    font: 14px "Open Sans", sans-serif;
	/* Next 3 selectors are needed when common-platform.css is not used (to enable vertical scroll bar) */
	/*
    overflow: auto;
	position: absolute;
 	bottom: 30px;
    */
	/* add some padding when container-fluid is used */
    padding-top: 2px;
	padding-right: 10px;
	padding-left: 10px;
    padding-bottom: 2px;
    margin-bottom: 10px !important;
}

.pb-datetime {
    font-size: 12px;
}

.pbid-PageListBlock{
    color: #4d4640;
}

.ui-datepicker table {
    font-size: .8em;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: .9em;
}

.btn-warning:hover {
    border: 1px solid #026BC8;
}