/*******************************************************************************
 Copyright 2013-2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************/

button.button_edit {
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    background-color: transparent; /* make the button transparent */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 18px;
    height: 20px;           /* make this the size of your image */
    padding: 2px;
    /* padding-left: 16px; */     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    background-size: 90%;
}

button.button_edit:hover {
    background-position: center left;
}

button.button_edit:active {
    background-position: bottom right;
    padding-top: 2px;
}

.button_copy {
    background-image: url(../images/buttons/edit_copy.png); /* 16px x 16px */
}
.button_paste {
    background-image: url(../images/buttons/edit_paste.png); /* 16px x 16px */}

.button_insert {
    background-image: url(../images/buttons/edit_insert.png); /* 16px x 16px */
}

.button_delete {
    background-image: url(../images/buttons/edit_delete.png); /* 16px x 16px */
}

.button_sort_asc {
    background-image: url(../images/buttons/edit_sort_ascending.png); /* 16px x 16px */
}

.button_sort_desc {
    background-image: url(../images/buttons/edit_sort_descending.png); /* 16px x 16px */
}

.button_add {
    background-image: url(../images/buttons/edit_add.png); /* 16px x 16px */
}

/* Start ui-bootstrap modal fix - needed since upgrade to bootstrap.css version 3.0.2 */

.modal {
  display: table;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin: -250px 0 0 -280px;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade.in {
  top: 50%;
}

/* End ui-bootstrap modal fix - needed since upgrade to bootstrap.css version 3.0.2 */

#content{
    font: 12px "Open Sans", sans-serif;
}

input[type="text"] {
    min-width: 210px;
}

/* Start Visual Page Composer */

fieldset {
    padding: 0;
    margin: 15px 0;
    /*border: 1px solid #9AC0D2;*/
    border: 0;
}

legend {
    /*font-size: 16px;*/
    font: inherit;
    font-family: "OpenSans-semibold", sans-serif;
    color: #4F585F;
    /*border-bottom: 1px solid #e5e5e5;*/
    /*margin-bottom: 0;*/
    border: 1px solid #026BC8;
    padding: 15px 25px;
}

fieldset:first-child>legend {
    border-right: none;
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: 0;
    /*border-left: 1px solid #9AC0D2;*/
}

fieldset:first-child>.form-group {
    border-left: none;
}

ul {
    padding: 0;
    margin: 0 0 9px 15px;
    list-style: outside none none;
}

label {
    font-weight: 500;
}

/* New Layout */
/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {*/
     /*padding-right: 0;*/
     /*padding-left: 0;*/
/*}*/

/*.vpc-head {*/
    /*border: 1px solid #9AC0D2;*/
    /*margin: 1.25em 0;*/
    /*padding: 15px;*/
    /*/!*min-height: 6em;*!/*/
/*}*/

/*.vpc-page {*/
    /*margin-right: 0.625em;*/
    /*float: left;*/
/*}*/

/*.vpc-page label {*/
    /*display: block;*/
/*}*/

/*.vpc-page select {*/
    /*border-radius: 4px;*/
    /*border: 1px solid #869FB1;*/
    /*/!*box-shadow: inset 4px 4px 4px #E2EAEF;*!/*/
    /*box-shadow: inset 0 -4px #DEE5E7;*/
    /*padding: .5em;*/
/*}*/

/*.vpc-menu-btn {*/
    /*float: right;*/
    /*margin-top: 16px;*/
/*}*/

/*.pb-btn-primary {*/
    /*background-color: #206E9F;*/
    /*box-shadow: inset 0 -4px #1D5F8C;*/
    /*color: #fff;*/
    /*margin-top: 25px;*/
/*}*/

/*.pb-btn-primary:hover {*/
    /*color: #fff;*/
/*}*/

/*.pb-btn-primary:active {*/
    /*color: #fff;*/
/*}*/

/*.vpc-menu-btn button {*/
    /*background-color: #fff;*/
    /*color: #206E9F;*/
    /*border: none;*/
    /*border-left: 1px solid #9AC0D2;*/
    /*height: 0;*/
    /*padding: 25px 10px 19px;*/
    /*font-family: "OpenSans-semibold", sans-serif;*/
/*}*/

/*.vpc-menu-btn button:first-of-type {*/
    /*border: none;*/
/*}*/

#reload-btn {
    background: url(../images/Reload_icon.png) no-repeat center center ;
    width: 20px; height: 20px;
    padding: 6px 6px 6px 0px;
    border:0;
}

#preview-btn {
    background: url(../images/Preview_icon.png) center 0 no-repeat;
}

/*#export-btn {*/
    /*background: url(../images/Export_icon.png) center 0 no-repeat;*/
/*}*/

/*#delete-btn {*/
    /*background: url(../images/Delete_icon.png) center 0 no-repeat;*/
/*}*/

/*#pagerole-btn {*/
    /*background: url(../images/PageRoll_icon.png) center 0 no-repeat;*/
/*}*/

.vpc-name-input {
    height: 2.2em;
    margin-bottom: 2px;
}

.vpc-name-label {
    width: 7em;
    text-align: right;
}

input[name="prop_objectName"] {
    text-transform: uppercase !important;
}

/* End Visual Page Composer */

/* Start Virtual Domain Composer (mainly moved from main.css) */

table {
	border-top: 1px solid #DFDFDF;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child, tr>th:first-child {
	padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
	padding-right: 1.25em;
}

td, th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #666666;
}

th a:hover, th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #ffffff;
}

th:hover {
	background: #f9f9ff;
}



textarea {
	height: 150px;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

input:invalid, select:invalid, textarea:invalid {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

#vdQueryView, #vdDeleteView, #vdPostView, #vdPutView {
    font: 11px "Courier New", Courier, monospace;
    padding: 5px 10px;
}

/* End Virtual Domain Composer */
