<span>
    <!--Copyright 2013-2018 Ellucian Company L.P. and its affiliates.-->
    <!--TODO referencing $parent.i18nGet, should not have this dependency-->
    <!--label>{{label}}</label-->
    <input style="text-align:start;"  type="text" aria-label="{{i18nGet('attribute.'+attr.name)}}" ng-model='value' ng-change='processInput()'/> <button class="btn btn-xs" ng-click='openTextareaModal()'>...</button>

    <!-- textarea editing modal body-->
    <div modal="textareaShouldBeOpen"  options="textareaModalOpts">
        <div class="modal-header">
            <h4>{{label}}</h4>
        </div>
        <div class="modal-body">
            <form>
                <div>
                    <textarea class="pbtextarea" rows="10" cols="100" ng-model='value' aria-label="{{label}}"></textarea>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button class="secondary" ng-click="closeTextareaModal()">{{$parent.i18nGet('pb.template.textarea.ok.label')}}</button>
            <!--
            <button class="btn btn-warning cancel" ng-click="cancelMapEditModal()">Cancel</button>
            -->
        </div>
    </div>



</span>
