<span>
    <!--Copyright 2013-2018 Ellucian Company L.P. and its affiliates.-->
    <span style="text-align:start;">
        {{keys[0]}} = {{keys[1]}}:[
        <span ng-show='array.length>0' ng-repeat='item in array'>
            {{ item[keys[0]] }} = {{ item[keys[1]] }}
        </span>
        ]
    </span>
    <button class="secondary" ng-click='openArrayOfMapEditModal(array)'>...</button>

    <!-- map editing modal body-->
    <div modal="arrayOfMapEditShouldBeOpen"  options="arrayOfMapEditModalOpts">
        <div class="modal-header">
            <h4>{{label}}</h4>
        </div>
        <div class="modal-body">
            <table>
                <tr><th><input ng-model='keys[0]'/></th><th><input ng-model='keys[1]'/></th></tr>
                <!-- iterate through a separate index for the map (instead of using '(key,value) in map') to avoid an issue of the entire map got refreshed (and angular loses the input focus there after)
  every time a key is pressed that causes a change of a map value -->
                <tr ng-repeat="item in array">
                    <td><input type="text" ng-model='item[keys[0]]'/>
                    </td>
                    <td><input type="text" ng-model='item[keys[1]]'/>
                    <button class="secondary" ng-click="deleteEntry($index)">-</button>
                    <button class="secondary" ng-click="insert($index)">+</button></td>
                </tr>
            </table>

            <form>
                <div><label >{{$parent.i18nGet('pb.template.arraymap.new.value.label',[keys[0]])}} </label><input id="value1" ng-model="newValue1" required> </div>
                <div><label >{{$parent.i18nGet('pb.template.arraymap.new.value.label',[keys[1]])}} </label><input id='value2' ng-model="newValue2" required> </div>
                <div><button class="primary" ng-click='add(newValue1, newValue2)'>{{$parent.i18nGet('pb.template.arraymap.add.label')}}</button></div>
            </form>

        </div>
        <div class="modal-footer">
            <button class="secondary" ng-click="closeArrayOfMapEditModal()">{{$parent.i18nGet('pb.template.arraymap.ok.label')}}</button>
            <!--
            <button class="btn btn-warning cancel" ng-click="cancelMapEditModal()">Cancel</button>
            -->
        </div>
    </div>



</span>
