<!--Copyright 2013-2016 Ellucian Company L.P. and its affiliates.-->
<span> <!--TODO referencing $parent.i18nGet, should not have this dependency-->
    <!--label>{{label}}</label-->
    <input style="text-align:start;" readonly value='{{map}}'></input> <button class="btn btn-xs" ng-click='openMapEditModal(map)'>...</button>

    <!-- map editing modal body-->
    <div modal="mapEditShouldBeOpen"  options="mapEditModalOpts">
        <div class="modal-header">
            <h4>{{label}}</h4>
        </div>
        <div class="modal-body">
            <table>
                <tr><th>{{$parent.i18nGet('pb.template.map.name.label')}}</th><th>{{$parent.i18nGet('pb.template.map.value.label')}}</th></tr>
                <!-- iterate through a separate index for the map (instead of using '(key,value) in map') to avoid an issue of the entire map got refreshed (and angular loses the input focus there after)
  every time a key is pressed that causes a change of a map value -->
                <tr ng-repeat="key in index">
                    <td span>{{key}}</td>
                    <td ng-init='type1=getType(map[key])'>
                        <input type="text" ng-show='type1=="string"' ng-model='map[key]'/>
                        <input type="number" ng-show='type1=="number"' ng-model='map[key]'/>
                        <input type="checkbox" ng-show='type1=="boolean"' ng-model='map[key]'/>

                        <button class="btn btn-xs" ng-click="deleteEntry(key)">-</button>
                    </td>
                </tr>
            </table>

            <form>
                <div><label for="label">{{$parent.i18nGet('pb.template.map.new.key.label') }}</label><input id="label" ng-model="newKey" required> </div>
                <div><label>{{$parent.i18nGet('pb.template.map.new.value.label') }}</label>
                    <div> {{$parent.i18nGet('pb.template.map.value.select.label')}}
                        <div>
                        <input type="radio" ng-model="newType" value="text"/> {{$parent.i18nGet('type.text')}}
                        <input type="radio" ng-model="newType" value="number"/> {{$parent.i18nGet('type.number')}}
                        <input type="radio" ng-model="newType" value="checkbox" ng-click='newValue=true'/> {{$parent.i18nGet('type.boolean')}}
                        </div>

                        <div>{{$parent.i18nGet('pb.template.map.value.enter.label')}}
                        <input ng-show='newType=="text"' type='text' ng-model="newValue" required/>
                        <input ng-show='newType=="number"' type='number' ng-model="newValue" required/>
                        <!-- TODO resolve issue with uncheck box cannot be submmitted -->
                        <input ng-show='newType=="checkbox"' type='checkbox' ng-model="newValue"/>
                        </div>
                    </div>
                </div>
                <div><button ng-click='add(newKey, newValue)'>{{$parent.i18nGet('pb.template.map.add.label')}}</button></div>
            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-success ok" ng-click="closeMapEditModal()">{{$parent.i18nGet('pb.template.map.ok.label')}}</button>
            <!--
            <button class="btn btn-warning cancel" ng-click="cancelMapEditModal()">Cancel</button>
            -->
        </div>
    </div>



</span>
