<span>
    <!--label>{{label}}</label-->
    <input style="text-align:left;" readonly value='{{map}}'></input> <button class="btn btn-mini" ng-click='openMapEditModal(map)'>...</button>

    <!-- map editing modal body-->
    <div modal="mapEditShouldBeOpen"  options="mapEditModalOpts">
        <div class="modal-header">
            <h4>{{label}}</h4>
        </div>
        <div class="modal-body">
            <table>
                <tr><th>Name</th><th>Value</th></tr>
                <!-- iterate through a separate index for the map (instead of using '(key,value) in map') to avoid an issue of the entire map got refreshed (and angular loses the input focus there after)
  every time a key is pressed that causes a change of a map value -->
                <tr ng-repeat="key in index">
                    <td span>{{key}}</td>
                    <td ng-init='type1=getType(map[key])'>
                        <input type="text" ng-show='type1=="string"' ng-model='map[key]'/>
                        <input type="number" ng-show='type1=="number"' ng-model='map[key]'/>
                        <input type="checkbox" ng-show='type1=="boolean"' ng-model='map[key]'/>

                        <button class="btn btn-mini" ng-click="delete(key)">-</button>
                    </td>
                </tr>
            </table>

            <form>
                <div><label for="label">New Key</label><input id="label" ng-model="newKey" required> </div>
                <div><label>New Value</label>
                    <div> Select new value type:
                        <div>
                        <input type="radio" ng-model="newType" value="text"/> text
                        <input type="radio" ng-model="newType" value="number"/> number
                        <input type="radio" ng-model="newType" value="checkbox" ng-click='newValue=true'/> boolean
                        </div>

                        <div>Enter new value:
                        <input ng-show='newType=="text"' type='text' ng-model="newValue" required/>
                        <input ng-show='newType=="number"' type='number' ng-model="newValue" required/>
                        <!-- TODO resolve issue with uncheck box cannot be submmitted -->
                        <input ng-show='newType=="checkbox"' type='checkbox' ng-model="newValue"/>
                        </div>
                    </div>
                </div>
                <div><button ng-click='add(newKey, newValue)'>Add</button></div>
            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-success ok" ng-click="closeMapEditModal()">OK</button>
            <!--
            <button class="btn btn-warning cancel" ng-click="cancelMapEditModal()">Cancel</button>
            -->
        </div>
    </div>



</span>