<span> <!--TODO referencing $parent.i18nGet, should not have this dependency-->
    <button ng-click="openUploadModal()">{{$parent.i18nGet("sspb.css.cssManager.upload.label")}}</button>

    <!-- map editing modal body-->
    <div modal="uploadShouldBeOpen"  options="uploadModalOpts">
        <div class="modal-header">
            <h4>{{label}}</h4>
        </div>
        <div class="modal-body">
            <!-- css file upload form TODO put in a modal dialog -->
            <form id="upload" ng-upload method="POST" action="{{rootWebApp + 'uploadCss?delay=yes'}}">
                <div>
                    <label>Select a name for publishing:</label>
                    <input name="cssName" ng-model='cssName'/>
                </div>
                <div>
                    <label>Enter a description:</label>
                    <input name="description" ng-model='description'/>
                </div>

                <div>
                    <label>Select a file to upload:</label>
                    <input type="file" name="file" />
                </div>
                <div>
                    <input upload-submit="complete(content, completed)" type="submit" class="btn" value="Submit" />
                </div>
            </form>
            <div class="alert alert-info">Server Response: {{uploadResponse}}</div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-success ok" ng-click="closeUploadModal()">{{$parent.i18nGet('pb.template.upload.ok.label')}}</button>
        </div>
    </div>



</span>